# ENV
env/
src/.env

# FOLDERS
src/card-utils
src/cards
src/fonts
src/misc
src/utils/*

# EXCEPTION FILES
!src/utils/journey.py
!src/utils/spotting.py

# TEST
tests/
run.py

# MISC FILES
README.md
structure.md