# ENV
env/
.env

# FOLDERS
card-utils/
cards/
misc/
node_modules
resources

# CODE FILES

# EXCEPTION FILES

# TEST
tests/
run.py

# MISC FILES
package-lock.json
README.md
structure.md
*__pycache__
.config
config.yaml
docker-compose*
handlers.py